/Project2/logs
/Project2/tmp
/Project2/.history
/Project2/.idea
/Project2/*.iml
/Project2/build
/Project2/coverage
/Project2/.idea_modules
/Project2/.classpath
/Project2/.project
/Project2/RUNNING_PID
